---
import Button from "./ui/button.astro";
---

<!-- This form uses FabForm.io
     Create a free account at https://fabform.io and create a new endpoint. 
     Replace the {form-id} below with your working form-id. -->

<form
  action="https://fabform.io/f/{form-id}" 
  method="POST"
  id="form"
  class="needs-validation"
  novalidate>
  <div class="mb-5">
    <input
      type="text"
      placeholder="Full Name"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="name"
    />
  </div>
  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label>
     <input
      id="email_address"
      type="email"
      placeholder="Email Address"
      name="email"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
  </div>
  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="Your Message"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
  </div>
  <Button type="submit" size="lg" block>Send Message</Button>
</form>

