---
import { Picture } from "astro:assets";
import heroImage from "assets/ruff-lion.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astrolize"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Ruff Management incorporated
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      At Ruff Management Inc., we specialize in turning complexity into clarity. 
      With years of expertise in managing properties, websites, and companies, we provide comprehensive solutions designed to streamline your operations and enhance your success.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bx-question-mark" />
         Learn More
      </Link>
    </div>
  </div>
</main>
